.botoes_trabalho, .trabalho{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.botoes_trabalho{
    width: 100%;
    border-bottom: 8px solid rgb(3, 197, 181);
    border-top: 8px solid rgb(3, 197, 181);
    border-radius: 20px;
    padding: 20px 0; 
    gap: 10px; 
    margin-bottom: -5px;
}

.titulo_trabalho{
margin-bottom: 5px;
width: 30%;
margin-right: 65%;
font-weight: bolder;
color: rgb(255, 255, 255);
padding: 10px 0;
}

.botoes_trabalho .botao_trabalho:nth-child(3n){
    border-radius: 120px 20px 20px 20px;
}

.botoes_trabalho .botao_trabalho:nth-child(2){
    border-radius: 20px;
}

.botoes_trabalho .botao_trabalho:nth-child(5){
    border-radius: 20px;
}

.botoes_trabalho .botao_trabalho:nth-child(8){
    border-radius: 20px;
}

.botao_trabalho{
    width: 29%;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
    background-color: rgb(98, 1, 143);
    border-radius: 20px 120px 20px 20px;
}

.destivabotao{
    display: none;
}